#about #content h1 {
   text-align: center;
   color: white;
   padding-top: 0px !important;
}

p {
   color: white;
}

#about {
   background-color: rgb(27, 27, 27);
   padding-bottom: 80px;
}

#header {
   background-image: url("https://picsum.photos/1800/800/?blur");
   height: 300px;
   margin-bottom: 75px;
}

#header h1 {
   padding-top: 150px;
}