h1 {
   padding-top: 80px;
   text-align: center;
   color: white;
}

p {
   color: white;
}

#about {
   background-color: rgb(27, 27, 27);
   padding-bottom: 80px;
}

#header {
   background-image: url("/public/barber.jpg");
   height: 500px;
}

#header h1 {
   padding-top: 250px;
}