#contact {
  background-color: rgb(27, 27, 27);
  background-image: url("../images/neon_background.png");
  background-position: bottom;
  background-repeat: no-repeat;   
  background-size: cover; 
}

#contact #content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contactmap {
  height:500px;
}

#contactinfo{
  text-align: center;
  color: white;
}

#contactinfo p {
  font-size: 22px;
  padding-top: 30px;
}

#phone {
  padding-top: 120px;
}

#phone a{
  text-decoration: none;
  color: white;
}


#header {
  background-image: url("../images/banner2.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 350px;
  margin-bottom: 30px;
}

 #header h1 {
   padding-top: 150px;
   font-family: 'UnifrakturMaguntia', cursive;
   font-size: 72px;
 }



 @media only screen and (max-width: 1000px) {


  #header {
      background-size: cover;
      background-position: center;
  }   
  
  .contactmap {
    height:300px;
  }
  
  
}