@font-face
{
  font-family: certtoHeadline;
  src: url(../fonts/CerttoHeadline.otf);
}

#contact {
  background-color: rgb(19, 19, 19);
  background-image: url("../images/neon_background.png");
  background-position: bottom;
  background-repeat: no-repeat;   
  background-size: cover; 
}

#contact #content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contactmap {
  height:550px;
}

#contactinfo{
  text-align: center;
  color: white;
}

#contactinfo p {
  font-size: 22px;
  padding-top: 30px;
}

#phone {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

#header {
  background-image: url("../images/banner2.jpg");
  background-size: contain;
  background-attachment: fixed;
  height: 350px;
  margin-bottom: 30px;
}

#header h1 {
  padding-top: 150px;
  font-family: certtoHeadline;
  font-size: 72px;
}

table {
  color: white;
}

#contact-section, #phone-section {
  text-shadow: 0px 0px 20px black;
}

#phone-section {
  background-image: url("../images/text_bg_messy.png");
  padding: 60px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#contact-section {
  background-image: url("../images/text_bg_clean.png");
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#rate {
  margin-top: 35px;
}

table td
{
  padding: 10px;
}

table thead
{
  font-size: 30px;
}

/* desktop */
@media only screen and (min-width: 800px) 
{
  #contact-section
  {
    padding: 60px;
  }
}

/* mobile */
@media only screen and (max-width: 800px) 
{
  #header 
  {
    background-size: cover;
    background-position: center;
  }   
  .contactmap 
  {
    height:300px;
  }

  #contact-section, #phone-section {
    background-image: none;
    text-align: center;
  }

  #contact-section
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }

  #hours
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #header h1 {
    padding-top: 150px;
    font-family: certtoHeadline;
    font-size: 50px;
  }

  #phone-section {
    padding-bottom: 20px;
  }
}