#footer {
    background-color: rgba(27, 27, 27,0.8);
    padding-bottom: 10px;
    padding-top: 15px;
}

#footer p {
    text-align: center;
    color: white;
    font-size: 15px;
}

#footer img {
    width: 35px;
}