#footer {
    background-color: rgb(27, 27, 27);
    padding-bottom: 10px;
    padding-top: 15px;
}

#footer p {
    text-align: center;
    color: white;
    font-size: 12px;
}

#footer img {
    width: 35px;
}