h1 {
    padding-top: 80px;
    text-align: center;
    color: white;
}

#home {
    background-color: rgb(27, 27, 27);
    padding-bottom: 10px;
}

#section-1 {
    background-image: url("https://picsum.photos/1800/800/?blur");
    height: 800px;
    margin-bottom: 30px;
}

#section-1 h1 {
    padding-top: 400px;
 }