@font-face
{
    font-family: certtoHeadline;
    src: url(../fonts/CerttoHeadline.otf);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

#home h4 {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
}

#section-2 h1 {
    padding-bottom: 40px;
}

#section-2 p
{
    padding-bottom: 40px;
}

#home {
    background-color: rgb(19, 19, 19);
    background-image: url("../images/neon_background.png");
    background-position: bottom;
    background-repeat: no-repeat;   
    background-size: contain; 
}

#section-1 {
    background-image: url("../images/banner2.jpg");
    background-size: contain;
    background-attachment: fixed;
    height: 350px;
    margin-bottom: 30px;

}

#section-1 h1 {
    padding-top: 125px;
    font-family: certtoHeadline;
    font-size: 72px;
 }

 @media only screen and (max-width: 1000px) {


    #section-1 {
        background-size: cover;
        background-position: center;
    }   
    
    #home {   
        background-size: cover; 
    }
    
    
}