#links {
    padding: 30px;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
    padding: 30px;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover, .link:active {
    color: rgb(201, 129, 191);
}

#nav {
    background-color: rgb(58, 58, 58);
}

#title {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media only screen and (max-width: 1000px) {

    #title {
        font-size: 1.5em;
    }

    #linkItems li {
        text-align: center;
        padding: 5px;
    }

    #linkItems {
        margin-top: 30px;
    }
    
    
}