@font-face
{
    font-family: certtoHeadline;
    src: url(../fonts/CerttoHeadline.otf);
}

#links {
    padding: 15px;
}

ul {
    list-style: none;
    
}

#instagram {
    width: 35px;
}

.link {
    text-decoration: none;
    padding: 15px 60px 15px 60px;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
    text-shadow: 0px 0px 10px black;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.link-green:hover
{
    background-image: url("../images/new_green_paint_stroke.png");
}

.link-blue:hover
{
    background-image: url("../images/new_blue_paint_stroke.png");
}

.link-pink:hover
{
    background-image: url("../images/new_pink_paint_stroke.png");
}

#nav {
    background-color: transparent;
    position: absolute;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
}

#title {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    font-family: certtoHeadline;
}

#title:hover {
    background-image: url("../images/text-background5.png");
    background-size: 100% 100%;
    text-shadow: 0px 0px 10px black;
}


@media only screen and (max-width: 1000px) {

    #title {
        font-size: 1.2em;
    }

    #linkItems li {
        text-align: center;
        padding: 5px;
    }

    #linkItems {
        margin-top: 30px;
    }

    #nav {
        background-color: rgb(19, 19, 19);
        position: sticky;
        height: auto;
        z-index: 1;
    }  
    
}