#services 
{
   background-color: rgb(27, 27, 27);
   padding-bottom: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

thead, tbody, th, td, tr 
{
   color: white;
   padding: 3px;
}

thead
{
   border-bottom: 1px solid !important;
   border-color: white !important;
   padding: 6px !important;
}

/* table 
{
   border: 1px solid;
   color: white;
} */

#table-div 
{
   background-color: rgb(42, 42, 42);
   padding: 2vw;
   border-radius: 5px;
}

#header {
   background-image: url("../images/banner2.jpg");
   background-size: contain;
   background-attachment: fixed;
   height: 350px;
   margin-bottom: 30px;
}

#header h1 {
   padding-top: 150px;
   font-family: certtoHeadline;
   font-size: 72px;
}

@media only screen and (max-width: 1000px) {


   #header {
       background-size: cover;
       background-position: center;
   }    
   
   
}