#showcase {
    background-color: rgb(27,27,27);
}

#showcase #content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

#showcase img {
    width: 400px;
    height:400px;
    object-fit:cover;
    display: block;
    padding: 20px;
}

#showcase h1 {
    padding-top: 80px;
    text-align: center;
    color: white;
}

#header {
    background-image: url("../images/banner2.jpg");
    background-size: contain;
    background-attachment: fixed;
    height: 350px;
    margin-bottom: 30px;
 }

 #header h1 {
    padding-top: 150px;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 72px;
 }

 @media only screen and (max-width: 1000px) {


    #header {
        background-size: cover;
        background-position: center;
    }    
    
    
 }