#showcase {
    background-color: rgb(27,27,27);
}

#showcase img {
    width: 400px;
    height:400px;
    object-fit:cover;
    display: block;
    padding: 20px;
}

#showcase h1 {
    padding-top: 80px;
    text-align: center;
    color: white;
}

#header {
    background-image: url("https://picsum.photos/1800/800/?blur");
    height: 500px;
    margin-bottom: 75px;
 }

 #header h1 {
    padding-top: 250px;
 }