@font-face
{
    font-family: certtoHeadline;
    src: url(../fonts/CerttoHeadline.otf);
}


#showcase {
    background-color: rgb(19, 19, 19);
    background-position: bottom;
    background-repeat: no-repeat;   
    background-size: contain; 
}

#showcase #content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

#showcase #content img {
    width: 400px;
    height:400px;
    object-fit:cover;
    display: block;
    padding: 20px;
    margin: auto;
}

#showcase h1 {
    padding-top: 80px;
    text-align: center;
    color: white;
}

#header {
    background-image: url("../images/banner2.jpg");
    background-size: contain;
    background-attachment: fixed;
    height: 350px;
    margin-bottom: 30px;
 }

 #header h1 {
    padding-top: 150px;
    font-family: certtoHeadline;
    font-size: 72px;
 }

 @media only screen and (max-width: 1000px) {


    #header {
        background-size: cover;
        background-position: center;
    }    

    #showcase {   
        background-image: none;
    }
   
    
    
 }